* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: yellow;
  font-family: "Lato", sans-serif;
  font-weight: 200;
}
.home_wrapper {
  text-align: center;
  padding: 2em 0;
}

.logo_wrapper {
  text-align: center;
  padding: 2em 0;
}
.logo_wrapper h1 {
  cursor: pointer;
}

.nav_wrapper {
  background: gray;
  color: white;
  padding: 10px 0;
}

.nav_wrapper ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav_wrapper li {
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
  padding: 10px 0;
}
.nav_wrapper li.active,
.nav_wrapper li:hover {
  font-weight: 500;
  color: pink;
}
