@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive|Bungee+Inline|Quicksand|Pacifico|Vibur");
@import url("https://use.typekit.net/hqo7xxg.css");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: black;
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  position: relative;
  color: white;
  background: url("./assets/background.png");
  background-position: center;
  background-size: cover;
}
.about {
  background: white;
}
.about_text {
  padding: 0 2em;
  text-align: left;
}

.about_text h2 {
  font-family: orator-std, monospace;
  border-bottom: 1px solid black;
}

.about_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_wrapper ul {
  list-style: none;
}
.footer_wrapper {
  position: absolute;
  width: 100%;
  height: 2.5em;
  bottom: 0;

  padding: 1em 0;
}
.footer_wrapper ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.footer_wrapper li a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  margin: 0 10px;
  transition: all 0.3s;
}

.footer_wrapper li a:hover {
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
.homepage {
  font-family: orator-std, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}
.img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}
.logo_wrapper {
  z-index: 100;
  text-align: center;
  padding-top: 2em;
}

.logo_wrapper h1 {
  cursor: pointer;
  font-family: marydale, sans-serif !important;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  font-size: 7rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
.main-content {
  padding-bottom: 2.5em;
}
.nav_wrapper {
  z-index: 100;
  margin: auto;
  width: 40%;
  color: white;
  padding: 10px 0;
}

.nav_wrapper ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav_wrapper li {
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
  padding: 10px 0;
  font-size: larger;
  letter-spacing: 1px;
  margin: 0 2em;
}

.nav_wrapper li.active,
.nav_wrapper li:hover {
  font-weight: 500;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.wrapper {
  text-align: center;
  margin: 2em auto;
  min-width: 450px;
  width: 60%;
  padding: 1em;
  line-height: 2;
  color: black;
  position: relative;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}
