@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive|Bungee+Inline|Quicksand|Pacifico|Vibur");
@import url("https://use.typekit.net/hqo7xxg.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: black;
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  position: relative;
  color: white;
  background: url("./assets/background.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
strong {
  text-decoration: underline;
}

img {
  max-width: 100%;
}
.about_text {
  padding: 0 1.5em;
  text-align: left;
}

h2 {
  font-family: orator-std, monospace;
  border-bottom: 1px solid black;
}
h3 {
  font-family: orator-std, monospace;
}

.about_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about_wrapper ul {
  list-style: none;
}

.contact-form {
  padding-bottom: 2rem;
  margin: auto;
}

.contact-form input[type="email"],
.contact-form textarea,
.contact-form a {
  width: 70%;
  padding: 5px;
  border: 1px solid black;
  display: block;
  margin: 1rem auto;
}

.contact-form a {
  background-color: black;
  color: white;
  font-family: orator-std, monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.3rem;
  font-size: 15px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.contact-form a:hover {
  background: #ff1177;
}
.contact-form textarea {
  height: 30vh;
}

.description span a,
.description span a:active,
.description span a:focus,
.description span a:visited {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.description span a:hover {
  background-color: #ff1177;
  color: white;
  padding: 3px;
}
.footer_wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  padding: 1em 0;
}
.footer_wrapper span {
  position: absolute;
  bottom: 0;
  right: 30px;
}
.footer_wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer_wrapper li a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  margin: 0 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer_wrapper li a:hover {
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
.homepage {
  font-family: orator-std, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  width: 40% !important;
  margin: 3.5em auto !important;
}
.img_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 3em;
}
.logo_wrapper {
  z-index: 100;
  text-align: center;
  padding-top: 2em;
}

.logo {
  cursor: pointer;
  font-family: marydale, sans-serif !important;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  font-size: 7rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
.main-content {
  padding-bottom: 2.5em;
}
.nav_wrapper {
  z-index: 100;
  margin: auto;
  width: 40%;
  color: white;
  padding: 10px 0;
}

.nav_wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

.nav_wrapper li {
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 10px 0;
  font-size: larger;
  letter-spacing: 1px;
  margin: 0 2em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav_wrapper li.active,
.nav_wrapper li:hover {
  font-weight: 500;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.resume {
  height: 100vh;
  position: relative;
  width: 100vw;
}
.resume object {
  height: 100%;
  width: 100%;
}
.resume-btn {
  display: none;
  text-decoration: none;
  color: white;
  background-color: black;
  height: 50px;
  width: 100%;
  padding: 5px;
  line-height: 50px;
  transition: all 0.3s;
}
.resume-btn:hover {
  background-color: #ff1177;
}

.project_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3em;
}

.project_wrapper .description {
  padding: 0 1em;
  width: 50%;
}
.project_img {
  width: 40%;
}

.project_wrapper img {
  width: 100%;
  height: auto;
}
.project_wrapper:nth-child(odd) .project_img {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.project_wrapper:nth-child(odd) .description {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.wrapper {
  text-align: center;
  margin: 2em auto;
  min-width: 450px;
  width: 70%;
  padding: 1em;
  line-height: 2;
  color: black;
  position: relative;
  background: white;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}
@media screen and (min-width: 1640px) {
  .homepage {
    margin: 4em auto;
    font-size: 2em;
  }
  .logo {
    font-size: 9rem !important;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1639px) {
  .homepage {
    margin: 7em auto;
  }
}
@media screen and (max-width: 1074px) {
  .about_wrapper,
  .img_wrapper,
  .project_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .project_img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
  }
  .project_wrapper .description {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .contact h2 {
    font-size: medium;
  }
}

@media screen and (min-width: 1075px) and (max-width: 1320px) {
  .homepage {
    margin: 2em auto !important;
  }
  .logo {
    font-size: 5rem !important;
  }
}
@media screen and (min-width: 801px) and (max-width: 1074px) {
  .homepage {
    font-size: 1em !important;
    margin: 1.5em auto !important;
  }
  .logo {
    font-size: 3rem !important;
  }
  .nav_wrapper li {
    font-size: medium;
  }
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
    background: url("./assets/responsive.png");
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
  }

  p {
    font-size: 0.8rem;
  }
  .logo {
    font-size: 3rem !important;
  }
  .nav_wrapper li {
    font-size: small !important;
  }
  .homepage {
    background-color: white !important;
    font-size: 1em;
  }
  .resume {
    height: fit-content !important;
  }
  .resume object {
    height: auto !important;
  }
  .resume-btn {
    display: block;
  }
  .wrapper {
    min-width: 300px;
  }
}
